main {
  min-height: 80vh;
}

.loader {
  width: auto;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  margin: 10px;
}

.shopping-cart {
  padding-bottom: 1.4rem;
}
